{% extends "base.html" %}

{% block title %}
	About application
{% endblock %}

{% block content %}
<div class='container'>
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Немного о приложении</h1>
      <p class="fs-5 text-body-secondary">Приложение позволяет пользователям создавать анонимные записи.</p>
      <p class="fs-5 text-body-secondary">Доступ к записям осуществляется через идентификатор, который случайно сгенерирован для каждой из них.</p>
      <p class="fs-5 text-body-secondary"><i><u>При создании приложения использованы:</u></i></p>
      <p class="fs-5 text-body-secondary">фреймворк <i>Flask</i>, библиотека <i>SQLAlchemy</i>, <i>встраиваемая СУБД SQLite</i>.</p>
    </div>
</div>
{% endblock %}
