{% extends "base.html" %}

{% block title %}
	Hello
{% endblock %}

{% block content %}

<div class='container'>
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Простое web-приложение</h1>
      <p class="fs-5 text-body-secondary">Создание анонимных записей пользователей.</p>
    </div>
</div>

<div class='container'>
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Заметки</h1>
    </div>

    {% if notes|length > 0 %}
        {% for el in notes %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.content }}</p>
            <p><b>Дата: {{ el.created_at.date() }}</b></p>
        </div>
        {% endfor %}
    {% else %}
    <p>У нас пока нет заметок. Разместите первую.</p>
    {% endif %}
</div>

{% endblock %}