{% extends "base.html" %}

{% block title %}
{{ note.title }}
{% endblock %}

{% block content %}
<div class='container'>
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Ваша заметка успешно создана</h1>
      <p class="fs-5 text-body-secondary">со следующими параметрами</p>
    </div>

    <div class="alert alert-info">
        <p><b>id:</b> {{ note.uuid }}</p>
        <p><b>{{ note.title }}</b></p>
        <p> {{ note.content }}</p>
        <p><b>Дата:</b> {{ note.created_at.date() }}</p>
    </div>

</div>
{% endblock %}
